<!-- Material form login -->
<br><br>
<div class="card container">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Change Password</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" #changepass="ngForm">
            <input type="hidden" name="email" ngModel={{user.validEmail}}>
            <!-- New Pass -->
            <div class="md-form">
                <input type="password" name="password" id="materialLoginFormEmail" class="form-control" ngModel required>
                <label for="materialLoginFormEmail">New Password</label>
            </div>

            <!-- Confirm Pass -->
            <div class="md-form">
                <input type="password" name="confirm" id="materialLoginFormPassword" class="form-control" required>
                <label for="materialLoginFormPassword">Confirm Password</label>
            </div>


            <!-- Sign in button -->
            <button (click)="ChangePass(changepass)" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Change Password</button>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form login -->
